.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #000000;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 95px;
  top: 50px;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 121px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 696px;
  top: 53px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  width: 199px;
  height: 17px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  width: 106px;
  height: 17px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  width: 182px;
  height: 17px;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1020px;
  position: absolute;
  left: 123px;
  top: 195px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.reach-out-to-the-course-team {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.professor-contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.ta-contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 123px;
  top: 571px;
}
.bharath-sreekumar-bsreekum-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 123px;
  top: 649px;
}
.bharath-sreekumar-bsreekum-umd-edu-span {
}
.bharath-sreekumar-bsreekum-umd-edu-span2 {
  text-decoration: underline;
}
.caifu-lin-clin-0817-terpmail-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 123px;
  top: 783px;
}
.caifu-lin-clin-0817-terpmail-umd-edu-span {
}
.caifu-lin-clin-0817-terpmail-umd-edu-span2 {
  text-decoration: underline;
}
.sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 123px;
  top: 716px;
}
.sumanth-devara-sdevara-umd-edu-span {
}
.sumanth-devara-sdevara-umd-edu-span2 {
  text-decoration: underline;
}
.paul-t-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 120px;
  top: 452px;
}
